{% extends "base.html" %}

{% block title %}作成失敗{% endblock %}

{% block content %}
<h2>チャンネル作成失敗</h2>
<h3>エラー：コード{{ error_id }}_{{ title }}でエラーが発生しました</h3>
<h3>エラー情報：</h3>
<p>'ok': {{ ok }}</p>
<p>'error': {{ error }}</p>
<p>'errors': {{ errors }}</p>
<p>'detail': {{ detail }}</p>
<h3>注意：</h3>
{% if error_id == 1 %}
<h3>チャンネル作成で失敗しました。<br>
    すでに同一の名前が存在する可能性が高いです。
</h3>
{% endif %}
{% if error_id == 2 %}
<h3>定型文の送信で失敗しました。</h3>
{% elif error_id == 3 %}
<h3>トピックの設定で失敗しました。</h3>
{% elif error_id == 4 %}
<h3>
    メンターの招待で失敗しました。<br>
    初期設定で入力したIDが間違っている可能性があります。
</h3>
{% elif error_id == 5 %}
<h3>
    メンティーの招待で失敗しました。<br>
    フォームで入力したIDが間違っている可能性があります。
</h3>
<h3>
    <br>
    入力した名前でチャンネルが不完全に作られた可能性が高いです。<br>
    やり直す場合はslackでチャンネルを削除してください。
</h3>
{% endif %}
{% endblock %}
