{% extends "base.html" %}
{% load static %}

{% block title %}チャンネル作成{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% csrf_token %}
<div class="card" style="width: 50rem;">
    <div class="card-header"><h2>
        チャンネル作成
    </h2></div>
    <div class="card-body">
        <p class="card-text">ようこそ {{ user.get_username }} さん</p>
        <form method="post">
            {% csrf_token %}
            <label for="name">メンター部屋-<input type="text" id="name" name="name">様</label>
            <br>
            <label for="plan">契約プラン：</label>
            <input type="text" id="plan" name="plan">
            <br>
            <label for="date1">契約期間：<input type="number" id="date1" name="date1" size="3"></label>
            <label for="date2">日~翌月<input type="number" id="date2" name="date2" size="3"></label>
            <label for="date3">（<input type="number" id="date3" name="date3" size="3">日に自動更新）</label>
            <br>
            <label for="mentee_id">メンティーID</label><input type="text" id="mentee_id" name="mentee_id">
            <br>
            <button class="btn btn-primary" type="submit" name="send" id="send">送信する</button>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript"
                src="{% static 'js/jquery.check_form.js' %}"></script>
        <style>
            input[type="number"] {
                width: 50px;
            }
        </style>
    </div>
</div>
<br>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
<div class="card" style="width: 50rem;">
    <div class="card-header"><h2>
        ログイン画面へ
    </h2></div>
    <div class="card-body">
        <p><a href="{% url 'login' %}">ログイン</a></p>
    </div>
</div>
{% endif %}
{% endblock %}
